.searchForm {
  width: 100%;
  color: white;

  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.formInput {
  color: black;

  width: 100%;
  border: transparent;
  max-width: 600px;
  background: var(--clr-white);
  padding: 1rem;
  font-size: 1rem;
  border-radius: var(--radius);
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
  margin-top: 1rem;
}

.error {
  color: white;
  text-transform: capitalize;
  padding-top: 0.5rem;
  letter-spacing: var(--spacing);
}
